
*.aux

*.log

*.gz

*.nav

*.out

*.snm

*.toc

exam/*

*.bbl

*.vrb

latex/01_Principes_de_base.pdf

latex/02_SE_et_processus.pdf

latex/03_Gestion_donnees.pdf

*.blg

*.dvi

latex/04_Paral_et_synchro.pdf

*.tex~

latex/05_virtualisation.pdf
